<!DOCTYPE html>
<html>
<head>
  <title>Shmoogle</title>

  <!-- Include our CSS styles from external file -->
  <link href="kickball.css" media="screen" rel="stylesheet"/>
<body>
<div class="navigation-container">
<ul class="nav">
  <li>
    <a href="#">Home</a>
  </li>
  <li>
   <a href="#">Simpson Slammers</a>
 </li>
  <li>
    <a href="#">Jetson Jets</a>
  </li>
  <li>
    <a href="#">Flinstones fire</a>
  </li>
  <li>
    <a href="#">Griffin Goats</a>
  </li>
</ul>
</div>



</body>
</html>
